*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.content{
  height: 82.8vh;
}
.register-form,.login-form{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:center; 
  min-height: 80vh;
  border: 2px solid rgb(201, 207, 213);
  width: 30vw;
  margin:auto;
  margin-top: 50px;
  border-radius: 20px;
  text-align: center;
}

.register-form h2 {
  text-align: center;
  width: 100%;
}

.register-form-content {
  width: 100%;
}

.filters{
  
  display: flex;
  align-items: center;
  justify-content: space-around;
  
  margin: 40px 40px 40px 40px;
  padding: 15px;
  box-shadow: 2px 2px 10px 5px grey;
}